body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
a,
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333333;
    background-color: #ffffff;
    min-width: 1226px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

input {
    font: normal;
}

input:focus,
a:focus {
    outline: none;
}

i {
    font-style: normal;
}


/* 版心 */

.w {
    width: 1225px;
    margin: auto;
}


/* h2样式 */

h2 {
    height: 58px;
    line-height: 58px;
    font-weight: normal;
    font-size: 25px;
    color: #333333;
}

p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}